$text: #202020;
$sub: #909090;
$bg: #ffffff;
$primary: #52a9ff;

$fonts:
  'Zen Kaku Gothic Antique',
  ui-sans-serif,
  "ui-sans-serif override",
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;
