$text: #202020;
$sub: #909090;
$border: #eeeeee;
$bg: #ffffff;
$primary: #52a9ff;

$e: #25ca25;
$n: #ffb223;
$h: #ff0984;

$fonts:
  'Inter',
  'Zen Kaku Gothic Antique',
  ui-sans-serif,
  "ui-sans-serif override",
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;
